@using System.Web.UI.WebControls
@using PhuDinhWeb
@model IEnumerable<PhuDinhDataEntity.tTonKho>
@{
    var grid = new WebGrid(Model, canPage: false, canSort: false);

    var listKhos = new List<ListItem>
    {
          new ListItem { Text = "Phu Dinh", Value="1" },
          new ListItem { Text = "Duc Hoa", Value="3" },
          new ListItem { Text = "Tất cả", Value="*" }
    };

    var listLoais = new List<ListItem>
    {
          new ListItem { Text = "Nha", Value="n" },
          new ListItem { Text = "TQ", Value="tq" },
          new ListItem { Text = "Tất cả", Value="*" }
          
    };

    var listMatHangs = new List<ListItem>
    {
          new ListItem { Text = "B", Value="B " },
          new ListItem { Text = "Cáo", Value="Cáo " },
          new ListItem { Text = "Chì", Value="Chì " },
          new ListItem { Text = "Chì mũ", Value="Chì mũ " },
          new ListItem { Text = "Chì nhiều", Value="Chì nhiều " },
          new ListItem { Text = "Fectina", Value="Fectina " },
          new ListItem { Text = "Kẽm lam", Value="Kẽm lam " },
          new ListItem { Text = "Lưới bén", Value="Lưới bén " },
          new ListItem { Text = "Lưới nhựa", Value="Lưới nhựa " },
          new ListItem { Text = "Sàn Cát", Value="Sàn Cát " },
          new ListItem { Text = "Vuông", Value="Vuông " },
          new ListItem { Text = "Tất cả", Value="*" }
    };
}

<script>
    function filter(fKho, fLoai, fTenMatHang) {
        $("#grid>tbody>tr").each(function (i, row) {
            var tenMatHang = $(row).children().get(0).textContent;
            var kho = $(row).children().get(2).textContent;
            var loai = $(row).children().get(3).textContent;
            if ((kho === fKho || fKho === "*")
                && (tenMatHang.indexOf(fTenMatHang) == 0 || fTenMatHang === "*")
                && (loai === fLoai || fLoai === "*")) {
                $(row).css("display", "");
            } else {
                $(row).css("display", "none");
            }
        });
        $("#grid>tbody>tr:visible").each(function (i, row) {
            if (i & 1 == 1) {
                $(row).css("background-color", "#e8eef4");
            } else {
                $(row).css("background-color", "");
            }
        });
    };

    function onFilterChange() {
        filter($("#tenKho").val(), $("#tenLoai").val(), $("#tenMatHang").val());
    };
</script>

<div id="filter" class="no-print">
    @Html.DropDownList("tenKho", new SelectList(listKhos, "Value", "Text"), new { onchange = "onFilterChange();" })
    @Html.DropDownList("tenLoai", new SelectList(listLoais, "Value", "Text"), new { onchange = "onFilterChange();" })
    @Html.DropDownList("tenMatHang", new SelectList(listMatHangs, "Value", "Text"), new { onchange = "onFilterChange();" })
</div>

<div id="content">
    @grid.GetHtml(htmlAttributes: new { id = "grid" }, columns: new[]
    {
        grid.Column(style:"TenMatHangDayDu", format: item => Html.FormatTenMatHangTonKho(item.Value as PhuDinhDataEntity.tTonKho)),
        grid.Column(style:"SoLuong", format: item => Html.FormatSoLuongTonKho(item.Value as PhuDinhDataEntity.tTonKho)),
        grid.Column(style:"HiddenColumn", columnName:"MaKhoHang"),
        grid.Column(style:"HiddenColumn", format: item => Html.FormatTenMatHang(item.Value as PhuDinhDataEntity.tTonKho))
    })
</div>
