/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body {
    background-color: #5c87b2;
    font-size: 1.5em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

#main {
    background-color: #fff;
}

table {
    border: solid 3px #e8eef4;
    border-collapse: collapse;
    font-size: 0.75em;
}

    table td {
        padding: 5px;
        border: solid 1px #e8eef4;
    }

    table th {
        display: none;
        text-align: center;
        background-color: #e8eef4;
        color: #034af3;
        border: solid 1px #e8eef4;
    }

.page {
    width: 99%;
    margin-left: 5px;
    margin-right: 5px;
}

.TenMatHangDayDu {
    width: 300px;
}

.TenKhachHang {
    text-decoration: underline;
}

.TenKho {
    font-weight: bold;
}

ul#menu {
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 5px 0px;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li a {
            padding: 5px 10px;
            font-size: 0.5em;
            font-weight: bold;
            text-decoration: none;
            background-color: #e8eef4;
            color: #034af3;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
        }

@media print {
    .no-print {
        display: none;
    }

    table {
        border: solid 1px #000;
        font-size: 0.65em;
        color: #000;
    }

        table td {
            border: solid 1px #000;
        }

        table th {
            text-align: center;
            color: #000;
            border: solid 1px #000;
        }
}
