@model PhuDinhData.ReportData.ReportDaily.ReportDailyData
@{
    ViewBag.Title = "Xuat";
    var grid = new WebGrid(Model.RowData, canPage: false, canSort: false);
}

<div id="filter" class="no-print">
    @using (Html.BeginForm("Index", "Xuat", FormMethod.Get))
    {
        <div>
            Ngày: @Html.TextBox("ngay", @Model.DateFilter.ToString("yyyy-MM-dd"), new { type = "date" })
            <input type="submit" value="OK" />
        </div>
    }
</div>
<div id="content">
    @grid.GetHtml(columns: new[]
    {
        grid.Column("TenKho", "Ten Kho", style:"TenKho"),
        grid.Column("TenKhachHang", "Ten Khach Hang", style:"TenKhachHang"),
        grid.Column("SoLuong", "So Luong", style:"SoLuong"),
        grid.Column("TenMatHang", "Ten Mat Hang")
    })
</div>
