@model PhuDinhData.ReportData.ReportDaily.ReportDailyData
@{
    ViewBag.Title = "Bao cao hang ngay";
    var grid = new WebGrid(Model.RowData, canPage: false, canSort: false);
}

@using (Html.BeginForm("Index", "BaoCaoHangNgay", FormMethod.Post))
{
    <p style="font-size: 14px; padding-left: 100px; padding-top: 15px">
        Chọn ngày: @Html.TextBox("date", @Model.DateFilter.ToString("yyyy-MM-dd"), new { type = "date" })
        <input type="submit" value="OK" />
    </p>
}

@grid.GetHtml(columns: new[]
{
    grid.Column("TenKho", "Ten Kho", style:"TenKho"),
    grid.Column("TenKhachHang", "Ten Khach Hang", style:"TenKhachHang"),
    grid.Column("SoLuong", "So Luong", style:"SoLuong"),
    grid.Column("TenMatHang", "Ten Mat Hang")
})